.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;

  text-align: center;
  color: $title-text-color;
  margin-bottom: 30px;
  @media screen and(min-width: 768px) {
    margin-bottom: 50px;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.client__link {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 92px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #afb1b8;
  border-left: 1px Solid #afb1b8;
  border-right: 1px Solid #afb1b8;
  border-bottom: 1px Solid #afb1b8;
  border-radius: 4px;
  &:hover,
  &:focus {
    border-color: $accent-color;
    cursor: pointer;
  }
  &:hover .client__icon,
  &:focus .client__icon {
    fill: $accent-color;
  }
}
.client__item {
  display: block;
  margin-top: 30px;
  margin-left: 30px;
  width: 100%;
  flex-basis: calc(100% / 2 - 30px);

  @media screen and(min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  @media screen and(min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.client__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
