.features__list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and(min-width: 1200px) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .features__item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and(min-width: 768px) {
      width: 270px;
      flex-basis: calc(100% / 2 - 30px);
      margin: 15px;
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }
  .features-exp__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    @media screen and(min-width: 768px) {
      text-align: left;
    }
  }
  .features-exp__description {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    display: flex;
    text-align: start;
    letter-spacing: 0.03em;

    color: #757575;
    font-size: 14px;
    line-height: 1.71;
  }
  .features-exp {
    border-radius: 4px;
    background-color: #f5f4fa;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .features-exp__icon {
    width: 75px;
    height: 75px;
  }
}
