.header {
  border-bottom: 1px solid #ececec;
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header__logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: #2196f3;
}
.logo__second-word {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  @media screen and(min-width: 768px) {
    margin-right: 88px;
  }
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav {
  display: none;
  @media screen and(min-width: 768px) {
    display: flex;
    // align-items: baseline;
    // justify-content: center;
    align-items: center;
  }
}
.header-nav__item {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-nav__item {
  color: $primary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width: 1200px) {
    display: flex;
    justify-content: right;
    align-items: baseline;
  }
}

.header-nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $title-text-color;
  & .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-contacts {
  margin-left: auto;
  display: none;

  @media screen and(min-width: 768px) {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }
  @media screen and(min-width: 1200px) {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.header-contacts__item {
  @media screen and(min-width: 768px) {
    margin-top: 10px;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.header-contacts__mail {
  align-items: flex-end;
  color: $primary-text-color;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-contacts__tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  color: $primary-text-color;
}
.header-contacts__icon {
  margin-right: 10px;
  fill: currentcolor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button {
  border: none;
  width: 40px;
  height: 40px;
  background: #ffffff;

  &:hover,
  :focus {
    cursor: pointer;
    fill: $accent-color;
  }
  @media screen and(min-width: 768px) {
    display: none;
  }
}
.header__button--icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}
.menu-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding: 40px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 1;
  @media screen and(min-width: 768px) {
    display: none;
  }
}
.menu-container__button--close {
  margin-left: auto;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  background: #ffffff;
  &:hover,
  :focus {
    cursor: pointer;
    fill: $accent-color;
  }
}

.menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.menu__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $title-text-color;
}
.menu-adress {
  margin-top: 200px;
}
.menu-adress__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-adress__tel {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: $accent-color;
}
.menu-adress__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}

.menu-social {
  justify-content: start;
  margin-top: 64px;
  display: flex;
}
.menu-social__item {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.menu-social__link {
  color: $accent-color;
}
.menu-container.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
