.project-button__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-bottom: 40px;
  @media screen and(min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and(min-width: 1200px) {
  }
  @media screen and(min-width: 768px) {
    justify-content: center;
    margin-top: -15px;
    &:not(:first-child) {
      margin-left: 0px;
    }
  }
}
.project-button__item {
  margin-top: 15px;
  width: auto;

  &:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and(min-width: 768px) {
  }
}
.project-button__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: #212121;
  background: #f5f4fa;
  outline: none;
  border: 0px;
  padding: 6px 22px;
  &:hover,
  &:focus {
    background-color: $accent_color;
    color: $white-color;
  }
}
.button--curent {
  background-color: $accent-color;
  color: $white-color;
}
.project__list {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and(min-width: 768px) {
    display: -webkit-box;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
  }
}
.project__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: $title-text-color;
}
.project__item {
  max-width: 450px;
  margin-top: 40px;
  &:nth-child(8n) {
    margin-bottom: 0px;
  }
  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }
  @media screen and(min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    max-width: 354px;
    margin-top: 30px;
  }
  @media screen and(min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    max-width: 370px;
    margin-top: 30px;
    &:first-child {
      margin-top: 50px;
    }
    &:nth-child(2) {
      margin-top: 50px;
    }
    &:nth-child(3) {
      margin-top: 50px;
    }
  }
}
.project__link {
  display: flex;
  flex-direction: column;
  &:hover,
  :focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    cursor: pointer;
  }
  &:hover .project__text--overlay,
  &:focus .project__text--overlay {
    transform: translateY(0);
  }
}

.project__description {
  margin-top: 4px;

  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.88;
}
.project__content {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
  flex-grow: 1;
  height: 110px;
  &:first-child {
    padding-bottom: 36px;
  }
  &--tablet {
    height: 146px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 20px 24px;
    flex-grow: 1;
    @media screen and(min-width: 1200px) {
      height: 110px;
    }
  }
  &--mobile {
    height: 110px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 20px 24px;
    flex-grow: 1;
    @media screen and(min-width: 768px) {
      height: 146px;
    }
    @media screen and(min-width: 1200px) {
      height: 110px;
    }
  }
}

.project__box {
  position: relative;
  overflow: hidden;
}
.project__text--overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}
