.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 15;
}
.backdrop__modal {
  position: relative;
  left: 50%;
  top: 50%;
  width: 90%;

  background: $white-color;
  transform: translate(-50%, -50%);
  animation-name: changeModalBtn;
  animation-duration: 2000ms;
  z-index: 3;
  padding: 20px;

  @media screen and(max-width: 480px) {
    min-height: 609px;
  }
  @media screen and(min-width: 480px) {
    padding: 40px;
  }
  @media screen and(min-width: 581px) {
    width: 528px;
  }
}
.backdrop__button--close {
  position: absolute;
  right: 5px;
  top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.backdrop__icon {
  fill: #000;
  &:focus,
  &:hover {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2196f3;
  }
}
.backdrop__title {
  margin-bottom: 12px;
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 5%;
}
.backdrop__form {
  display: flex;
  flex-direction: column;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.backdrop__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
  margin-left: 41px;
  text-transform: none;
  width: 25px;
  height: 14px;
  margin-top: 12px;
  position: relative;
  margin-bottom: 4px;
}
.backdrop-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  position: relative;
  margin-bottom: 10px;
}
.backdrop-field__label {
  margin-bottom: 4px;
  display: flex;
}
.backdrop-field__input {
  outline: none;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus-within {
    border-color: $accent-color;
    outline: none;
  }
}
.backdrop-field__icon--personal {
  fill: #000000;
  position: absolute;
  left: 12px;
  top: 31px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus-within {
    fill: $accent-color;
  }
  .backdrop-field__input:focus-within + & {
    fill: $accent-color;
  }
}
.backdrop-field__icon--tel {
  fill: #000000;
  position: absolute;
  left: 12px;
  top: 31px;
  &:focus-within {
    fill: $accent-color;
  }
  .backdrop-field__input:focus-within + & {
    fill: $accent-color;
  }
}
.backdrop-field__icon--mail {
  fill: #000000;
  position: absolute;
  left: 12px;
  top: 31px;
  &:focus-within {
    fill: $accent-color;
  }
  .backdrop-field__input:focus-within + & {
    fill: $accent-color;
  }
}
.backdrop-field__text {
  display: flex;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
  text-transform: none;
  width: 25px;
  height: 14px;
  margin-top: 12px;
  position: relative;
  margin-bottom: 4px;
}
.backdrop-field__placeholder {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $primary-text-color;
  padding-left: 17px;
  padding-top: 12px;
  resize: none;
  &:focus-within {
    border-color: $accent-color;
  }
  &::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    outline: none;
    border: none;
  }
}
.backdrop-checkbox {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  @media screen and(min-width: 768px) {
    // margin-left: 50px;
  }
}
.backdrop-checkbox__inpute {
  position: absolute;
  appearance: none;
}
.backdrop-checkbox__box {
  position: absolute;
  width: 16px;
  height: 15px;
  background-image: url(../images/box.svg);
  background-repeat: no-repeat;
  justify-content: center;
  margin-left: -15px;
  margin-top: -13px;

  @media screen and(min-width: 426px) {
    margin-left: -18px;
    margin-top: 1px;
  }
  @media screen and(min-width: 480px) {
    margin-left: -25px;
    margin-top: 1px;
  }
  .backdrop-checkbox__inpute:checked + & {
    background-image: url(../images/checking.svg);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.backdrop-checkbox__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #757575;
  @media screen and(min-width: 768px) {
    display: flex;
  }

  &--blue {
    color: $accent-color;
    text-decoration: underline;
    @media screen and(min-width: 768px) {
      margin-left: 3px;
    }
  }
}
.backdrop__button--send {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  background: rgb(33, 150, 243);
  border-radius: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  margin-right: auto;
  margin-left: auto;
}
.backdrop__name--send {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white-color;
  justify-content: center;
}
