// .backdrop__modal {
//   position: fixed;
//   left: 50%;
//   top: 50%;
//   width: 240px;
//   height: 572px;
//   background: $white-color;
//   transform: translate(-50%, -50%);
//   animation-name: changeModalBtn;
//   animation-duration: 2000ms;
//   z-index: 3;
// }
.backdrop__button--close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: $white-color;
  margin-top: 8px;
  margin-left: 490px;
  margin-bottom: 2px;
  cursor: pointer;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-image: initial;
}
