$accent-color: #2196f3;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #ffffff;
$background-color: #2f303a;
$button-bg-color: #f5f4fa;
$primary-text-color: #757575;
$title-text-color: #212121;
